
@font-face {
    font-family: Iranyekan_bold;
    src: url('../fonts/iranyekan-bold.eot');
    src: url('../fonts/iranyekan-bold.woff') format("woff"),
    url('../fonts/iranyekan-bold.woff2') format("woff"),
    url('../fonts/iranyekan-bold.ttf') format("truetype");
}
@font-face {
    font-family: Iranyekan;
    src: url('../fonts/iranyekan.eot');
    src: url('../fonts/iranyekan.woff') format("woff"),
    url('../fonts/iranyekan.woff2') format("woff"),
    url('../fonts/iranyekan.ttf') format("truetype");
}





body *{
    font-family: 'Iranyekan'!important;
}



.boxes{
    padding: 20px;
}
.copyright{
    padding-block: 10px;
}
.white-box{
    box-shadow: 1px 1px 4px #ccc;
    min-height: 355px;
    padding: 20px  !important;
    display: inline-block;
    text-align: center !important;
    margin-bottom: 20px;
    position: relative;

    max-width: 90%;
    width: 100%;
    margin: auto 0 !important;
    padding-inline: 15px 10px;
    border-radius: 20px;
    background-color: #fff;
    
}
.white-box h6{
font-size: 13px;
text-align: right;
color: #444444;

    
}



.white-box-2{


    max-width: 90%;
    width: 100%;
    margin: auto 0 !important;
    box-shadow: 1px 1px 5px #ccc;
    min-height: 355px;
    border-radius: 20px;
    background-color: #fff;
   padding-inline: 15px 10px;
    display: inline-block;
    text-align: right !important;
    margin-bottom: 20px;
    position: relative;
    
    
}
.sdf-1{
    display: none !important;
}
.white-box-2 h6{
font-size: 13px;
color: #444444 !important;
text-align: right;
}

.boxes-images{
    height:180px ;
    width: 180px;
    margin: 15px auto 8px;

}
.boxes-images img{
    width: 100%;
    height: 100%;
}
.boxes-name{
    width: 100%;
    height: 50px;
    margin: 15px auto 5px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
    font-size: 14px !important;
}
.prices {
    text-align: left;
    font-size: 16px;
    position: absolute;
    bottom: 7%;
    right:50% ;
    color: #676767;
}
.prices del{
    position: absolute;
    bottom: 28px;
    font-size: 13px;
    right: 49px;
    color: #939090;
}
.off span{
    display: inline-block;
}
.samin{
    font-size: 11px;
}
.percent{
    width: 33px;
    height: 25px;
    margin: auto;
    font-size: 13px;
    padding: 4px;
    background: #f58220;
    border-radius: 7px;
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 7%;
    right: 10%;
}
.part1{
    background-color:white;
    position: sticky;
    padding: 20px 0 10px 0;
    overflow: visible;
    z-index: 100;
    
    

    

}
header{
    background-color:white;
    position: sticky;
    padding: 20px 0 4px 0;
    overflow: visible;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
}
.svg1{
    background-color: #fff2e8;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-inline: 5px;
    cursor: pointer;
    position: relative;
    margin: 0px;
}

.svg2{
    background-color: #fff2e8;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-inline: 5px;
    cursor: pointer;
    position: relative;
    
    
}

.svg3{
    background-color: #fff2e8;
    width: 40px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-inline: 5px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}
.sgv{
    display: inline-block;
}
.svgs{
    display: flex;
    justify-content:flex-end;
}



.logo{
    display: inline-block;
    
    width: 120px;
    height: 31px !important;
    
    
}
.logo img{
    width: 100%;
    height: 100%;
}
.searchbar{
    margin: auto !important;
    width: 100%;
    margin-bottom: 8px;
    
   
 
    
}
.searchbar::placeholder{
    font-size: 14px;
}



.logos{
   display: inline-block;
   
   
}
.form-control{
    border: 1px solid #f58220;
    border-radius: 20px 0 0 20px !important;
    height: 45px;
    font-size: 14px;
    margin-bottom: 8px;
    
}
.banner{
    display: none;
}
.btn{
    background-color: #f58220;
    color: white;
    border: 1px solid #f58220;
    border-radius: 0 20px 20px 0 !important;
    width: 60px;
    height: 45px;
    font-size: 14px;
     
    
}
.btn svg{
    width: 20px;
    height: 20px
}

.nav-link{
    color:#404040 !important;
    padding: 9px;
    position: relative;
    font-size: 13px;
    
}
.nav-link{
    color:#404040 !important;
    padding: 9px;
    position: relative;
    font-size: 13px;
    
}
.nav-poi{
    color:#404040 !important;
    padding: 9px;
    position: relative;
    font-size: 13px;
    
}
.nav-poi::before{
    content: '';
    content: '';
    position: absolute;
    width: 100%;
    opacity: 1;
    height: 2px;
    background-color: #f58220;
    bottom: 7px;
    right: 0;
}
.nav-link::before{
    content: '';
    content: '';
    position: absolute;
    width: 100%;
    opacity: 0;
    height: 1px;
    background-color: #f58220;
    bottom: 7px;
    right: 0;
}

.nav-link:hover::before{
    content: '';
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f58220;
    bottom: 7px;
    right: 0;
    opacity: 1;
    
}
.navbar{
width: 100%;

box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    
    background: #fff;
    margin-top: 30px;
    
}
.navbarbox{
    width: 100%;
    height: 50px;
   

}
.bar{
    height: 1420px;
    width: 75px;
}
@media screen and (max-width: 1480px) {
    .container {
        max-width: 1170px !important;
    }
}




.middle{
    padding-top: 20px;
}
.img1box{
    height: 490px;
    width: 100%;
    padding: 20px;
    background-image: url("../images/img1.png");
    border-radius: 10px;
    display: inline-block;
    background-position-x: left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.img1-2{
    display: inline-block;
    width: 100%;
    height: 501;
}
.four-images{
    margin-top:14px;
}
.img-2{
    background-image: url("../images/img2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img-3{
    background-image: url("../images/img3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img3{
    background-image: url("../images/img3.jpg");
    background-position-y: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    height: 235px;
    width: 100%;
    border-radius: 10px;
    margin-top: 21px;

}
.img2{
    background-image: url("../images/img2.jpg");
    background-position-y: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    height: 235px;
    width: 100%;
    
    border-radius: 10px;

}
.i-2{
    height: 235px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
.i-3{
    height: 235px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
.f-i{
    height: 235px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
.first-image{
    background-image: url("../images/firstimage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.second-image{
    background-image: url("../images/secondimage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.third-image{
    background-image: url("../images/thirdimage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.fourth-image{
    background-image: url("../images/fourthimage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.banner-image-box{
  display: inline-block;
    width: 100%;
    
     padding-block: 10px;
    height: 235px;
     border-radius: 10px;
    overflow: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
        margin-left: 17px;
}

.banner-image-box:nth-child(4){
       MARGIN-LEFT: 0;
}
.list-other{
    list-style-type:none;
    display: inline-block;
    width: 93%;
}
.part3{
    margin: 20px 0px 0px;
    padding: 20px 0px 0px;
}
:root{
--gradiant1:linear-gradient(to right,#f21c11 , #f5ab1a);
--gradiant2:linear-gradient(to right,#f07f20 , #464543);
}
.list-other ul{   
  text-align: left;
  padding-left: 23px;
  
}
.list-other li{
    display: inline-block;
    font-size: 0.8rem;
    color: rgb(119, 119, 119);
    padding: 10px 20px;
    font-weight: 600; 
}
.first-item li{
    position: absolute;
    display: inline-block;
    font-weight: 400;
    color: rgb(68, 68, 68);
    
}
.first-item ul{
    list-style-type: none;
    padding: 0px !important;
}
.first-item{
    display: inline-block;
    padding: 0px !important;
}
.active-box li{
    color: white;
    text-align: center;

}
.active-box{
    
    border-radius: 20px 20px 20px 20px;
    background-image: var(--gradiant1);
    display: inline-block;
}

.part5{
    background-image: url("../images/background-image.png");
    padding: 11px 8px;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.gradiant2 ul{
    list-style-type: none;
    margin-block-end: 0;
    margin-block-start:0 ;
}
.gradiant2 li{
 padding-block: 11px 8px;
 padding-right: 0px;
}

.prices2 {
    text-align: left;
    font-size: 16px;
    color: #676767;
    display: inline-block;
    position: absolute;
    left: 10%;
    bottom: 7%;
}
.white-box2{
    box-shadow: rgb(204, 204, 204) 1px 1px 5px;
    min-height: 355px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    width: 22%;
    display: inline-block;
    margin: 15px;
    margin-top: 0px !important;
    position: relative;
}

.part6{
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
}
.boks{
    height: 190px;
    width: 100%;
    border-radius: 20px;
    display: inline-block;
    padding: 10px 20px 30px 0;
    margin: 7px;
    position: relative;
}
.boks:hover{
    box-shadow: rgb(204, 204, 204) 1px 1px 5px;
}
.boks-image{
    height: 150px;
    width: 150px;
    display: inline-block;
    width: 30%;
}
.boks-image img{
    width: 100%;
    height: 100%;
}
.hw1{
    display: inline-block;
    width: 50%;
}

.ms-price{
    left: 11%;
    bottom: 20%;
    position: absolute;
    
}
.hw1 span{
color:#676767 !important ;
}
    

.most-sales-item{
    width: 200px;
    height: 50px;
}


.most-sales-item img{
    position: relative;
}

.most-sales-item img::before {
    content: ''!important;
    position: absolute !important;
    top: 85% !important;
    right: -25px !important;
    width: 200px !important;
    height: 50px !important;
    
}

.most-sales-price {
    position: absolute;
    left: 5%;
    bottom: 40px;
    font-size: 16px;
    font-weight: bold;
    color:#646464;
}
.most-sales-title{
    position: absolute;
    top: 30px;
    left: 30px;
    box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    width: 230px;
    font-weight: bold;
    line-height: 26px;
    color: #646464;
}
.fot-row{
    padding-block: 70px 10px;
}
footer {
    text-align: center;
    background-color: #2D2D2D;
    margin: 60px 0px 0px;
    font-size: 13px;
    padding: 30px 0px 0px;
    
}
.foooter-logo img{
    width: 100%;
    height: 100%;
    
}
.foooter-logo{
    width: 200px;
    height: 65px;
    padding-top:15px !important ;
}
.footer-logo{
    width: 220px;
    height: 60px;
    margin-top: 57px
    
    
}

.footer-logo img{
    width: 100%;
    height: 100%;
    
}

.right-col{
    
    height: 214.5px !important;
    border-left: 1px solid #bdbdbd !important;
    text-align: right !important;
}
.footer-title{
    color: #f58220 !important;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.other-lists{
    margin: 10px 0;
    color: #fff;
    position: relative;
    width: fit-content;
}
.other-lists::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background:#f58220;
  right: 0;
  bottom: -2px;
  transition: width 0.5s;
}

.other-lists:hover::after {
  width: 100%;
}
.other-lists:hover {
  color: #f58220;
}

.middle-col{
    height: 214.5px !important;
    padding:0px 50px 0px 0px !important;
    border-left: 1px solid #bdbdbd !important;
    text-align: right !important;

}
.left-col{
    height: 214.5px !important;
    padding:0px 50px 0px 0px !important;
    text-align: right !important;

}
.other-lists-1{
    color: #fff !important;
    width: 200px;
    height: 70px;
    font-size: 13px;
    line-height: 35px;
    margin: 0px 0px 16px;

}
.othre-lists-2{
    margin: 5px 0px 10px;
    font-size: 13px;
    color: #fff !important;

}
.othre-lists-3{
    font-size: 13px;
    color: #fff ;
    text-align: right;
    margin: 10px 0px;
}
.othre-lists-3 svg{
    width: 20px;
    height: 20px;

}
.enamad{
    width: 125px;
    height: 136px;
    margin: auto;

}
.enamad img{
    width: 100%;
    height: 100%;
}
.othre-lists-3::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background:#f58220;
  right: 0;
  bottom: -2px;
  transition: width 0.5s;
}


.othre-lists-3:hover::after {
  width: 100%;
}
.othre-lists-3:hover {
  color: #f58220;
}
.icon-box svg{
    z-index: 2;
    width: 29px;
    height: 31px;
    position: absolute;
    
}



.icon-box svg path{
    fill: #fff;
}


.icon-box{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #676767;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
    
    cursor: pointer;
    position: relative;
}
.icon-box::before{
    content: "";
    width: 45px;
    height: 45px;
    background-color:#f07f20;
    position: absolute;
    transform: scale(0);
    border-radius: 50%;
    transition: 0.4s;
}
.icon-box:hover::before{
    transform: scale(1);
    transition: 0.4s;
    background-color: #f07f20;

}


.icoon-box{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #2d2d2d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 10px;
    cursor: pointer;
    

}

.footer-social{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 2px solid #676767;
    margin-bottom: 8px;
}
.foooter-social{
    padding-top: 20px;
    border-top: 2px solid rgb(245, 130, 32);
}
.line-gradiant{
  position: relative;
}
.line-gradiant::before{
  content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, rgb(245, 130, 32) 85%, rgb(68, 68, 68));


}


.line-gradiant-2{
  position: relative;
}
.line-gradiant-2::before{
  content: "";
    position: absolute;
    top: 76%;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, rgb(245, 130, 32) 85%, rgb(68, 68, 68));


}
.line-gradiant1{
  position: relative;
}
.line-gradiant1::before{
  content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, rgb(28, 171, 176) 10%, rgb(68, 68, 68) 40%);


}
.btn-svg1{
    background-color: rgb(105, 202, 205);
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
    font-size: 10px;
    left: 6% !important;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 13px !important;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
    color: white !important;
}
.btn-svg2{
    background-color: rgb(105, 202, 205);
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
    right: 6% !important;
    
}
.it{
    display: none;
}
.swiper-button-next{
    font-size: 10px;
}
.burger{
    width: 21px;
    height: 24px;
    display: none;
    color: #f07f20;
}
.burger img{
    width: 100%;
    height: 100%;
}
.mySwiper{
    position: unset !important;
}
.container{
    position: unset !important;
}
.swiper-wrapper{
    position: unset !important;
}
.part5{
    position: relative !important;
}
.footer2 {
    display: none;
    text-align: center;
    background-color: #2D2D2D !important;
    font-size: 13px;
    padding-block-end: 0px;
    padding-block-start: 0px;
}
.footer2-col-1-1{
    margin: 0;
    font-size: 13px;
    color: #fff ;
    text-align: right;
    display: flex;
    justify-content: center;
    line-height: 25px;
}
.footer2-col-1{
    font-size: 13px;
    color: #fff ;
    text-align: right;
    max-width: 95vw;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    line-height: 25px;
}
.footer2-col-1-1 path{
    fill: rgb(245, 130, 32) !important;
}
.foooter-middle{
    padding-top: 20px;
    line-height: 0px;
    margin-bottom: 5px;
}
.footer2-col-2{
    font-size: 13px;
    color: #fff ;
    text-align: right;
    text-align: center;
 max-width: 95vw;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.footer2-col-2 path{
    fill: rgb(245, 130, 32) !important;
}
.footer2-col-2 svg{
    width: 35px !important;
    height: 35px !important;
    
}
.footer2-col-3{
    font-size: 13px;
    color: #fff ;
    text-align: right;
    text-align: center;
    display: flex;
    justify-content: center;
}
.footer2-col-3 path{
    fill: rgb(245, 130, 32) !important;
}
.footer2-col-3 svg{
    width: 30px !important;
    height: 35px !important;
    
}
.footer2-row2{
    position: relative;
}

@media only screen and (max-width: 1200px) {
    .middle-col{
        padding-right: 20px !important;
    }
    .left-col{
        padding-right: 20px !important;
    }
    .footer-title{
        margin-bottom: 40px;
    }
.navbarbox{
    display: none;
}
.burger{
    display: inline-block;
}
.form-control{
height: 40px;
}
.btn{
    width: 40px;
    height: 40px;
}
.banner-1{
    display: none;

}
.banner{
    display: flex;
    padding: 0px;
    margin: 0px;
}
.img2{
    width: 250px;
}
.img3{
    width: 250px;
}


}
@media only screen and (max-width: 1150px){
    .swiper-button-next{
        display: none;

    }
    .btn-svg1{
        display: none;
    }
    .btn-svg2{
        display: none;
    }
    .swiper-button-prev{
        display: none;

    }


.swiper-button-next, .swiper-rtl .swiper-button-prev {
    display: none;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    display: none;
}




}

@media only screen and (max-width: 992px) {
    .right-col{
        padding-right: 35px !important;
    }
 .footer-logo{
        width: 200px;
        height: 50px;
    }
.form-control{
    margin-top: 18px;
}
.btn{
    margin-top: 18px;
}
.it{
display: block;
}
.it-1{
    display: none;
}
.svgs1{
    position: absolute;
    left: 0px;
    height: 70px;
}
.ert{
    position: relative;
}
}

@media only screen and (max-width: 900px) {
.first-image{
    background-position-y: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.second-image{
    background-position-y: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.third-image{
    background-position-y: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.fourth-image{
    background-position-y: bottom;
    background-size:100% 100%;
    background-repeat: no-repeat;
}
}

@media only screen and (max-width: 890px) {
.boxess-3{
    overflow: auto;
    scrollbar-width: none;
}
}

@media only screen and (max-width: 800px) {
.uv{
width: max-content;
}
}
@media only screen and (max-width: 769px){
    .footer2{
        display: block;
    }
    footer{
        display: none;
    }

}
@media only screen and (max-width: 768px){

    .footer-social{
        margin-top: 0;
        border-top: 2px solid #f07f20;
    }
    .footer-logo{
        padding-block: 0;
        
    }
   
    .line-gradiant::before{
        display: none;
    }
     .line-gradiant-2::before{
        display: none;
    }
    .line-gradiant1::before{
        display: none;
    }
.img1box{
height: 342px;
}
.img2{
height: 252px;
width: 360px;

}

.img3{
height: 252px;
width: 360px;
}
.first-image{
height: 252px;
}
.second-image{
height: 252px;
}
.third-image{
height: 252px;
}
.fourth-image{
height: 252px;
}

}
@media only screen and (max-width: 740px) {
    .form-control{
    margin-top: 10px;
}
.btn{
    margin-top: 10px;
}



.svg1{
    width: 30px;
    height: 30px;

}
.svg2{
    width: 30px;
    height: 30px;
}
.svg3{
    width: 30px;
    height: 30px;
}





}
@media only screen and (max-width: 590px){
    .line-gradiant::before {
    display: none;
}
.list-other ul{   
    overflow: auto;
    width: 300px;
    display: inline-block;
    width: 90%;
    overflow-x: auto;
    /* border: 1px solid black; */
    white-space: nowrap;
    /* font-size: 0;*/
    scrollbar-width: none;
}


}

@media only screen and (max-width: 576px){
    .sdf{
        display: none !important;
    }
    .sdf-1{
        display: flex !important;
    }
    .footer2-col-2 svg{
        margin-top: 20px;
    }

    .footer2-col-3 svg{
        margin-top: 20px;
    }

    .logo{
        width: 100px;
        height: 26px !important;
    }
    .active-box{
        display: none;
    }
    .first-item{
        font-size: 13px;
    }
    .list-other li{
        font-size: 11px;
    }
.img1box{
height: 210px;
}
.img2{
height: 155px;
margin-left: 9px;
}
.img3{
height: 155px;
}
.first-image{
height: 155px;
}
.second-image{
height: 155px;
}
.third-image{
height: 155px;
}
.fourth-image{
height: 155px;
}

}


@media only screen and (max-width: 519px) {
.img1box{
height: 400px;
}}
@media only screen and (max-width: 500px) {
.img1box{
height: 342px;
}

.list-other ul::-webkit-scrollbar{   
    display: none;
}

.list-other ul{   
    overflow: auto;
    width: 300px;
    display: inline-block;
    width: 100%;
    overflow-x: auto;
    /* border: 1px solid black; */
    white-space: nowrap;
    /* font-size: 0;*/
}

.list-other li{
    display: inline-block;
    color: rgb(119, 119, 119);
    padding: 10px 20px;
}

.line-gradiant::before {
    display: none;
}




}
@media only screen and (max-width: 370px) {
.img1box{
height: 260px;
}



}
@media only screen and (max-width: 356px) {
.svg1{
    width: 30px;
    height: 30px;
}
.svg2{
    width: 30px;
    height: 30px;
}
.svg3{
    width: 30px;
    height: 30px;
}



}
@media only screen and (max-width: 320px){
    .burger img {
     width: 21px;
     height: 24px;   
    }
    .boxes-images{
        width: 140px;
        height: 140px;
    }

}

@media only screen and (max-width: 301px){
    .logo{
        width: 80px;
    }
    .svg1{
        width: 25px;
        height: 25px;
    }
    .svg2{
        width: 25px;
        height: 25px;
    }
    .svg3{
        width: 25px;
        height: 25px;
    }
}


@media only screen and (max-width: 284px) {
.svg1{
   z-index: 3;
}
.svg2{
     z-index: 3;
}
.svg3{
    z-index: 3;



}
@media only screen and (max-width: 280px) {
.img1box{
height: 200px;
}
.f-i{
    height: 155px;
}
.boxes-images{
    height:150px ;
    width: 150px;
    margin: 15px auto 8px;

}
.boxes-images img{
    width: 100%;
    height: 100%;
}


}
}